.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

.env
data/
!data/
data/*
!data/dashboard/
!data/dashboard/*.csv
!data/dashboard/*.json
!data/ecommerce/
!data/ecommerce/*.csv
logs/
python_training/
src/*
!src/load.py
sql/sql_training/
recap/
